* {
  margin: 0px;
}

main {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}

main > * {
  grid-column: 2;
}

header {
  height: 100vh;
  background-color: #4C566A;
  color: #D8DEE9;
}

.full-width {
  width: 100%;
  grid-column: 1 / 4;
}